extends layout

block content
	section.loader
		.loader-frame-overlay
		.loader-frame-bg
		.loader-frame-progress

		.loader-frame-black
			span.logo-black
			i.icon.icon-keyboard-black

		.loader-frame-white-container
			.loader-frame-white
				span.logo-white
				i.icon.icon-keyboard-white